.nav__logo {
    &-img--wrapper {
        width: 48px;
        height: 48px;

        .nav__logo-img {
            max-height: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.navbar {
    padding: 0 var(--bs-navbar-padding-x) var(--bs-navbar-padding-y);
}

.pre-nav {
    background-color: #cff5f2;
    .pre-nav__icon {
        cursor: pointer;
        transition: all 300ms;

        &:hover {
            transform: scale(115%);
        }
    }
}

.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar-nav {
    gap: 1rem;

    @media screen and (width < 992px) {
        gap: 0;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;

    img {
        width: 64px;
        height: auto;
        object-fit: cover;
    }
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
        width: 24px;
        height: 2px;
        border-radius: 1rem;
        background-color: rgb(34, 60, 80);
        transition: all 400ms;
    }

    &:focus {
        box-shadow: unset;
    }

    &[aria-expanded="true"] {
        box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #4FB5AB;

        div {
            background-color: #4FB5AB;
        }
    }
}

.carousel {
    border-radius: 0.5rem;
    overflow: hidden;
}

.carousel-item {
    img {
        height: 100% !important;
        object-fit: contain;
    }
}


.carousel-indicators {

    .carousel-btn {
        border: none !important;
        margin: 0;
        opacity: 1;
        box-shadow: 2px 2px 6px 4px rgba(77, 77, 77, 0.3);
        transition: all 300ms;
    }

    .active {
        box-shadow: 2px 2px 4px 0px rgba(216, 214, 214, 0.3);
        background-color: rgb(66, 61, 61) !important;
    }
}