.popular {
    padding: 3rem;

    &__content {
        display: flex;
        align-items: center;
        gap: 2rem;

        @media screen and (width < 576px) {
            gap: 0.5rem;
        }
    }

    &__title {
        text-align: center;
        padding-bottom: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 3.5rem;
        font-weight: 500;

        @media screen and (width < 992px) {
            font-size: 2.5rem;
            letter-spacing: 4px;
        }

        @media screen and (width < 576px) {
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    }

    &__arrow {
        display: flex;
        width: 96px;
        height: 96px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media screen and (width < 768px) {
            height: 24px;
            width: 48px;
        }

        @media screen and (width < 576px) {
            height: 18px;
            width: 36px;
        }

        svg {
            opacity: 0.6;
            transition: all 300ms;

            @media screen and (width < 768px) {
                height: 24px;
                width: 48px;
            }
        }

        &:hover {
            svg {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }

    .--left {
        transform: rotate(90deg);
    }

    .--right {
        transform: rotate(-90deg);
    }

    &__items {
        height: 680px;
        display: flex;
        gap: 1rem;

        @media screen and (width < 992px) {
            gap: 0.5rem;
        }

        @media screen and (width < 768px) {
            gap: 0;
        }

        @media screen and (width < 768px) {
            max-width: 80%;
        }

        .--item-active {
            width: unset;
            gap: 0.5rem;
            flex: 1 1 150%;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @media screen and (width < 768px) {
                width: 320px;
            }

            .popular__item-title {
                font-size: 1.2rem;
                margin-top: 1rem;

                @media screen and (width < 768px) {
                    margin-top: 0;
                }
            }

            .popular__item-subtitle {
                font-size: 1rem;
                font-weight: 500;
            }

            .popular__item-price {
                font-size: 1.5rem;
                letter-spacing: 3px;
            }

            .popular__item-title,
            .popular__item-subtitle,
            .popular__item-price {
                @media screen and (width < 768px) {
                    transform: scale(1);
                }
            }

            .popular__item-img {
                &::after {
                    transform: translate3d(-50%, -50%, 0) scale(1);
                }
            }
        }
    }

    &__item {
        display: flex;
        flex: 0 1 5%;
        flex-direction: column;
        gap: 0rem;
        transition: all 400ms;
        border-radius: 0.5rem;
        outline: 1px solid #4FB5AB;
        padding-top: 0px;
        padding-bottom: 0px;

        @media screen and (width < 992px) {
            width: 15%;
        }

        @media screen and (width < 768px) {
            flex: 0 1 0%;
            width: 0px;
            outline: 0px solid #4FB5AB;
        }

        &-img {
            position: relative;
            height: 600px;
            cursor: pointer;
            overflow: hidden;
            user-select: none;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 300px;
                height: 200px;
                background-image: url(../assets/popular-back.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                top: 50%;
                right: 0;
                bottom: 0;
                left: 50%;
                position: absolute;
                transform: translate3d(-50%, -50%, 0) scale(0);
                z-index: -1;
                transition: all 500ms;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &-title,
        &-price,
        &-subtitle {
            text-align: center;
            margin: 0;
            font-size: 10px;
            letter-spacing: normal;
            transition: all 400ms;

            @media screen and (width < 768px) {
                transform: scale(0);
            }
        }

        &-subtitle {
            font-size: 0px;
        }

        &-title {
            margin-top: 0px;
        }

        &-price {
            font-weight: 600;
            text-transform: uppercase;
            color: #4FB5AB;
        }
    }
}