@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.nav__logo-img--wrapper {
  width: 48px;
  height: 48px;
}
.nav__logo-img--wrapper .nav__logo-img {
  max-height: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.pre-nav .pre-nav__icon {
  cursor: pointer;
  transition: all 300ms;
}
.pre-nav .pre-nav__icon:hover {
  transform: scale(115%);
}

.nav-link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}

.navbar-nav {
  gap: 1rem;
}
@media screen and (width < 992px) {
  .navbar-nav {
    gap: 0;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}
.navbar-brand img {
  width: 64px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-toggler {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navbar-toggler div {
  width: 24px;
  height: 2px;
  border-radius: 1rem;
  background-color: rgb(34, 60, 80);
  transition: all 400ms;
}
.navbar-toggler:focus {
  box-shadow: unset;
}
.navbar-toggler[aria-expanded=true] {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #cb1d48;
}
.navbar-toggler[aria-expanded=true] div {
  background-color: #cb1d48;
}

.carousel-item {
  height: 600px;
}
.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  height: auto;
}

.carousel-indicators {
  gap: 1rem;
}
.carousel-indicators .carousel-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.catalog .catalog-items {
  display: grid;
  gap: 1rem;
}
.catalog .catalog-item {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.catalog .catalog-item__title {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.catalog .catalog-item__img-wrapper {
  overflow: hidden;
}
.catalog .catalog-item__img-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition: all 300ms;
}
.catalog .catalog-item__img-wrapper img:hover {
  transform: scale(1.05);
}
.catalog .catalog-item:nth-child(1) {
  grid-area: 1/1/3/4;
}
.catalog .catalog-item:nth-child(2) {
  grid-area: 1/4/1/7;
}
.catalog .catalog-item:nth-child(3) {
  grid-area: 1/7/1/10;
}
.catalog .catalog-item:nth-child(4) {
  grid-area: 3/1/3/3;
}
.catalog .catalog-item:nth-child(5) {
  grid-area: 2/4/2/10;
}
.catalog .catalog-item:nth-child(6) {
  grid-area: 3/3/3/10;
}

#catalog-arrow {
  width: 96px;
  margin: 3rem auto;
  opacity: 0.6;
  cursor: pointer;
  transition: all 300ms;
}
@media screen and (width < 992px) {
  #catalog-arrow {
    width: 72px;
  }
}
@media screen and (width < 576px) {
  #catalog-arrow {
    width: 48px;
  }
}
#catalog-arrow:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
#catalog-arrow:active {
  transform: scale(0.8);
  transition: all 50ms;
}
#catalog-arrow svg {
  transition: all 300ms;
}

.catalog__collapse {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.dignities {
  box-shadow: 0px -10px 10px -10px rgba(34, 60, 80, 0.6) inset, 0px 10px 10px -10px rgba(34, 60, 80, 0.6) inset;
  padding: 4rem;
  background-color: rgba(34, 60, 80, 0.05);
}
.dignities .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (width < 576px) {
  .dignities .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
  }
}
.dignities__circle {
  position: relative;
  border-radius: 50%;
  outline: 2px solid black;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
  transition: all 450ms;
}
@media screen and (width < 1200px) {
  .dignities__circle {
    padding: 2rem;
  }
}
@media screen and (width < 768px) {
  .dignities__circle {
    padding: 1rem;
    outline: 1px solid black;
  }
}
.dignities__circle svg {
  transition: all 400ms;
}
@media screen and (width < 1200px) {
  .dignities__circle svg {
    width: 56px;
    height: 56px;
  }
}
@media screen and (width < 768px) {
  .dignities__circle svg {
    width: 36px;
    height: 36px;
  }
}
.dignities__circle:hover {
  transform: rotate(180deg);
}
.dignities__circle:hover .dignities__circle-transparent {
  width: 3rem;
  height: 3rem;
  transform: scale(120%);
}
.dignities__circle:hover svg {
  transform: rotate(-180deg);
}
.dignities__circle-transparent {
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background-color: rgb(243, 245, 246);
  transition: all 200ms;
}
.dignities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.dignities__item-title {
  max-width: 70%;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (width < 992px) {
  .dignities__item-title {
    font-size: 1.15rem;
  }
}
@media screen and (width < 768px) {
  .dignities__item-title {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.popular {
  padding: 3rem;
}
.popular__content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media screen and (width < 576px) {
  .popular__content {
    gap: 0.5rem;
  }
}
.popular__title {
  text-align: center;
  padding-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3.5rem;
  font-weight: 500;
}
@media screen and (width < 992px) {
  .popular__title {
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
}
@media screen and (width < 576px) {
  .popular__title {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
.popular__arrow {
  display: flex;
  width: 96px;
  height: 96px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (width < 768px) {
  .popular__arrow {
    height: 24px;
    width: 48px;
  }
}
@media screen and (width < 576px) {
  .popular__arrow {
    height: 18px;
    width: 36px;
  }
}
.popular__arrow svg {
  opacity: 0.6;
  transition: all 300ms;
}
@media screen and (width < 768px) {
  .popular__arrow svg {
    height: 24px;
    width: 48px;
  }
}
.popular__arrow:hover svg {
  transform: scale(1.1);
  opacity: 1;
}
.popular .--left {
  transform: rotate(90deg);
}
.popular .--right {
  transform: rotate(-90deg);
}
.popular__items {
  height: 680px;
  display: flex;
  gap: 1rem;
}
@media screen and (width < 992px) {
  .popular__items {
    gap: 0.5rem;
  }
}
@media screen and (width < 768px) {
  .popular__items {
    gap: 0;
  }
}
@media screen and (width < 768px) {
  .popular__items {
    max-width: 80%;
  }
}
.popular__items .--item-active {
  width: unset;
  gap: 0.5rem;
  flex: 1 1 150%;
}
@media screen and (width < 768px) {
  .popular__items .--item-active {
    width: 320px;
  }
}
.popular__items .--item-active .popular__item-title {
  font-size: 1.2rem;
  margin-top: 1rem;
}
@media screen and (width < 768px) {
  .popular__items .--item-active .popular__item-title {
    margin-top: 0;
  }
}
.popular__items .--item-active .popular__item-price {
  font-size: 1.5rem;
  letter-spacing: 3px;
}
@media screen and (width < 768px) {
  .popular__items .--item-active .popular__item-title,
  .popular__items .--item-active .popular__item-price {
    transform: scale(1);
  }
}
.popular__item {
  display: flex;
  flex: 0 1 5%;
  flex-direction: column;
  gap: 0rem;
  transition: all 400ms;
}
@media screen and (width < 992px) {
  .popular__item {
    width: 15%;
  }
}
@media screen and (width < 768px) {
  .popular__item {
    flex: 0 1 0%;
    width: 0px;
  }
}
.popular__item-img {
  height: 600px;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.popular__item-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 300ms;
}
.popular__item-img img:hover {
  transform: scale(1.05);
}
.popular__item-title, .popular__item-price {
  text-align: center;
  margin: 0;
  font-size: 10px;
  letter-spacing: normal;
  transition: all 400ms;
}
@media screen and (width < 768px) {
  .popular__item-title, .popular__item-price {
    transform: scale(0);
  }
}
.popular__item-title {
  margin-top: 0px;
}
.popular__item-price {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(203, 29, 72);
}

.subscription {
  box-shadow: 0px -10px 10px -10px rgba(34, 60, 80, 0.6) inset, 0px 10px 10px -10px rgba(34, 60, 80, 0.6) inset;
  padding: 4rem;
  background-color: rgba(34, 60, 80, 0.05);
}
.subscription__content {
  display: flex;
  gap: 5rem;
}
@media screen and (width < 992px) {
  .subscription__content {
    gap: 2rem;
  }
}
.subscription__img {
  width: 60%;
  overflow: hidden;
}
@media screen and (width < 576px) {
  .subscription__img {
    display: none;
  }
}
.subscription__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (width < 992px) {
  .subscription__form {
    gap: 1rem;
  }
}
.subscription__form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.subscription__form form #email {
  width: 360px;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  background-color: unset;
  border-bottom: 2px solid black;
  transition: all 300ms;
}
@media screen and (width < 992px) {
  .subscription__form form #email {
    font-size: 1.1rem;
  }
}
@media screen and (width < 576px) {
  .subscription__form form #email {
    font-size: 1rem;
    width: 100%;
  }
}
.subscription__form form #email:focus-visible {
  outline: none;
  border-radius: 0.5rem;
  background-color: rgba(34, 60, 80, 0.25) !important;
}
.subscription__form form #email:hover {
  background-color: rgba(34, 60, 80, 0.1);
}
.subscription__form form #submit {
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #cb1d48;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 2px;
  box-shadow: 2px 4px 5px 0 rgba(34, 60, 80, 0.6);
  transition: all 300ms;
}
@media screen and (width < 992px) {
  .subscription__form form #submit {
    font-size: 1.1rem;
  }
}
@media screen and (width < 576px) {
  .subscription__form form #submit {
    font-size: 1rem;
    letter-spacing: normal;
  }
}
.subscription__form form #submit:hover {
  background-color: rgba(203, 29, 72, 0.85);
}
.subscription__form form #submit :active {
  opacity: 0.8;
}
.subscription__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 64px;
}
@media screen and (width < 1200px) {
  .subscription__title {
    font-size: 48px;
  }
}
@media screen and (width < 992px) {
  .subscription__title {
    font-size: 36px;
    letter-spacing: 2px;
  }
}
@media screen and (width < 576px) {
  .subscription__title {
    font-size: 24px;
    letter-spacing: normal;
  }
}
.subscription__text {
  text-align: center;
}
@media screen and (width < 992px) {
  .subscription__text {
    font-size: 1.25rem;
  }
}
@media screen and (width < 576px) {
  .subscription__text {
    font-size: 1rem;
  }
}

#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.home-content {
  margin-top: 2rem;
}/*# sourceMappingURL=main.css.map */